@use '../../colors' as *;
@use '../../components' as *;
@use '../../resetstyles' as *;
@use '../../main.scss' as *;

.blog-post {
	margin-top: 5em;
	&__container {
		&--title {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-direction: column;
			margin-bottom: 2em;
			&__text {
				display: flex;
				align-items: center;
				margin-bottom: 1em;
				& img {
					width: 25px;
				}
			}
			&__sorting {
				display: flex;
				align-items: center;
				&__box-dropdown {
					&--btn {
						background: none;
						border: 1px solid transparent;
						border-radius: 6px;
						padding: 0.5em;
						&:focus {
							border: 1px solid $headingAndBtnText;
						}
						& img {
							width: 50px;
							cursor: pointer;
							padding: 0.5em;
							border: 1px solid transparent;
							&:hover {
								opacity: 0.6;
							}
							&:focus {
								border: 1px solid $headingAndBtnText;
							}
						}
					}
					&-title-box {
						display: none;
						align-items: center;
						gap: 1em;
						height: 50px;
						background-color: $bgcAndText;
						color: $headingAndBtnText;
						padding: 0.5em 1em;
						font-size: 1.6rem;
						border-radius: 6px;
						box-shadow: -10px 25px 60px -10px;
						transition: box-shadow 0.3s, color 0.3s;
						cursor: pointer;
						&:hover {
							color: $dateAndSquare;
							box-shadow: -10px 25px 60px 3px;
						}
					}
					&--list {
						display: flex;
						align-items: center;
						flex-direction: column;
						position: absolute;
						background-color: $bgcAndText;
						color: $headingAndBtnText;
						box-shadow: -10px 25px 60px -10px;
						border-radius: 6px;
						margin-top: 0.5em;
						opacity: 0;
						transform: translateY(-60px);
						transition: opacity 0.3s, transform 0.3s;
						z-index: -99;
						& li {
							position: relative;
							color: $headingAndBtnText;
							padding: 1em 3em;
							border-radius: 6px;
							cursor: pointer;
							&::after,
							&::before {
								content: '';
								position: absolute;
								bottom: 8px;
								height: 2px;
								width: 0;
								background-color: $headingAndBtnText;
								transition: width 0.3s;
							}
							&::before {
								left: 50%;
							}
							&::after {
								right: 50%;
							}
							&:hover::before,
							&:hover::after {
								width: 10px;
							}
						}
						&.active-dropdown-list {
							opacity: 1;
							transform: translateY(0);
							z-index: 99;
						}
					}
				}

				&--link,
				&--dots {
					display: none;
				}
				&--dots {
					font-size: 2.6rem;
					font-weight: bold;
					color: $headingAndBtnText;
				}
			}
		}
		.blog-btns {
			font-weight: bold;
		}
		&--posts {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(4, auto);
			gap: 20px;
			margin-bottom: 1em;
			.events__slider-container-box {
				transition: transform 0.3s;
				&:last-child {
					display: block;
				}
				&--img {
					min-height: 150px;
					max-height: 255px;
					object-fit: cover;
					object-position: 50% 45%;
				}
				&-text {
					margin: 0;
					padding: 0.5em 0;
					&--btn {
						i {
							margin-left: 0.5em;
						}
					}
				}
				&:hover,
				&:hover .events__slider-container-box-text--btn{
					transform: scale(1.025);
					color: $dateAndSquare;

				}
			}
		}
		&--btns-under-posts {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 20px;
			.blog-post__container--title__sorting--dots {
				display: flex;
				align-items: center;
			}
			&__btn-links {
				display: none;
			}
		}
	}
}

@media (min-width: 320px) {
	.blog-post {
		&__container {
			&--title {
				&__sorting {
					gap: 0.5em;
				}
			}
		}
	}
}
@media (min-width: 414px) {
	.blog-post {
		&__container {
			&--btns-under-posts {
				justify-content: end;
				.link1 {
					display: block;
				}
			}
		}
	}
}

@media (min-width: 576px) {
	.blog-post {
		&__container {
			&--title__sorting {
				&__box-dropdown {
					&--btn {
						display: none;
					}
					&-title-box {
						display: flex;
					}
				}
			}
			&--posts {
				grid-template-columns: repeat(2, 1fr); /* Dla wersji desktop */
				grid-template-rows: repeat(8, auto);
			}
			&--btns-under-posts {
				.link2 {
					display: block;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.blog-post {
		&__container {
			&--title {
				flex-direction: row;
				align-items: center;
				&__sorting {
					gap: 1em;
					&--dots {
						display: flex;
						align-items: center;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.blog-post {
		&__container {
			&--title {
				&__sorting {
					.next-button-blog-number1,
					.next-button-blog-number2 {
						display: block;
					}
				}
			}
		}
	}
}
