$headingAndBtnText:#588C7F;
$bgcAndText:#FFFFFF;
$textSectionAndNavLinks:#4C4C4C;
$logo: #141414;
$dateAndSquare: #8FC0B2;
$sectionInfo: #636363;
$sectionGradientToRight: linear-gradient(273deg, rgba(123, 218, 195, 0.22) 37.71%, rgba(123, 218, 195, 0.00) 83.44%);
$sectionGradientToLeft: linear-gradient(110deg, rgba(123, 218, 195, 0.22) 37.71%, rgba(123, 218, 195, 0.00) 83.44%);
$leftBottomLineHeading: #C1DDD6;
$carouselTextSection: #2F2F2F;