@use 'colors' as *;
@use 'fonts' as *;

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}

.section-padding {
	padding: 4em 2em;
}

.left-bottom-line-heading {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 20%; //albo 90px
		height: 1px;
		background-color: $leftBottomLineHeading;
	}
}

.section__title-text--heading {
	padding: 0.2em;
	font-family: 'Yeseva One', sans-serif;
	font-weight: normal;
	color: $headingAndBtnText;
}
.section__title-text--info {
	font-weight: 300;
	color: $sectionInfo;
}

.section--white-btn {
	border-bottom-right-radius: 20px;
	&-inside {
		color: $headingAndBtnText;
		border: none;
		border-bottom-right-radius: 20px;
		background: none;
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		padding: 1em 1.5em;
		background-color: $bgcAndText;
		box-shadow: 0px 20px 20px 0px rgba(88, 140, 127, 0.2);
		transition: background-color 0.3s;
		cursor: pointer;
		.fa-arrow-right-long {
			font-size: 1.6rem;
			margin-left: 0.5em;
			color: $headingAndBtnText;
		}
	}
	&:hover {
		outline: 1px solid $headingAndBtnText;
	}
}

.section--white-btn.btnwhite1 {
	display: none;
}

.btn-section {
	display: inline-block;
	border-bottom-right-radius: 20px;
	&-inside {
		display: flex;
		align-items: center;
		padding: 1em 1.5em;
		border-radius: 0px 0px 20px 0px;
		border: 1px solid $headingAndBtnText;
		background: none;
		font-family: 'Montserrat', sans-serif;
		color: $headingAndBtnText;
		font-weight: bold;
		transition: background-color 0.3s;
		cursor: pointer;
		&-arrow {
			font-size: 1.6rem;
			margin-left: 0.5em;
			color: $headingAndBtnText;
		}
	}
	&:hover {
		background-color: $bgcAndText;
	}
}

.section-background-gradient {
	position: absolute;
	top: 20%;
	left: -10%;
	width: 50%;
	height: 50%;
	transform: rotate(43.387deg);
	border-radius: 778px;
	background: rgba(88, 209, 179, 0.2);
	filter: blur(75px);
	z-index: -10;
}

.section__navigation {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 1.5em;
	& a img {
		width: 15px;
	}
	&--actual-place {
		color: $headingAndBtnText;
	}
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	height: 90px;
	padding: 0em 1em;
	background-color: $bgcAndText;
	z-index: 100;
	&-info {
		&__logoBtn {
			display: flex;
			align-items: center;
			justify-content: space-between;
			&-logo {
				cursor: pointer;
				&:hover {
					opacity: 0.5;
				}
			}
			&-text {
				color: $headingAndBtnText;
				font-weight: 700;
				font-size: 1.4rem;
				display: none;
			}
			&--btn {
				position: relative;
				padding: 1em;
				background: none;
				border: 1px solid transparent;
				border-radius: 4px;
				cursor: pointer;
				z-index: 1000;
				&-line {
					position: relative;
					width: 40px;
					height: 30px;
					&::before {
						top: 5px;
					}
					&::after {
						bottom: 5px;
						transition: transform 0.3s, bottom 0.6s;
					}
					&::before,
					&::after {
						position: absolute;
						content: '';
						left: 0;
						height: 3px;
						width: 100%;
						background-color: $logo;
					}
				}
				&:hover &-line::after {
					transform: rotate(90deg);
					bottom: 15px;
				}
				&:focus {
					border: 1px solid $logo;
				}
			}
		}
	}

	&-mobile-ul {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		background-color: $headingAndBtnText;
		transform: translateX(102%);
		transition: transform 0.3s;
		z-index: 10;
		flex-direction: column;
		list-style-type: none;
		&-li {
			margin: 0.5em;
			padding: 1em;
			&-link {
				padding: 1em;
				text-decoration: none;
				color: $bgcAndText;
				font-size: 2rem;
				&:hover {
					color: $sectionInfo;
				}
				.fa-chevron-down {
					font-size: 1.4rem;
				}
			}
			&-aboutus {
				position: relative;
			}
			&__dropdown {
				position: absolute;
				left: 0;
				padding: 0.5em;
				margin-top: 0.5em;
				opacity: 0;
				transform: scaleY(0);
				transform-origin: 50% 0;
				transition: top 0.3s, opacity 0.3s, transform 0.3s;
				& li {
					padding: 0.5em 0;
					& a {
						text-decoration: none;
						color: $bgcAndText;
						padding: 0.5em 1.5em;
						&:hover {
							color: $sectionInfo;
						}
					}
				}
			}

			.active--dropdown-menu {
				position: relative;
				left: 0;
				opacity: 1;
				transform: scaleY(1);
			}
		}
		&-text {
			font-size: 1.4rem;
			color: $bgcAndText;
			font-weight: 700;
			margin-top: 2em;
			padding: 1em;
		}
	}

	&--active {
		transform: translateX(0);
	}
	&-desktop-ul {
		display: none;
	}
}
.nav-shadow {
	box-shadow: 0px 1px 10px 3px #00000017;
}
// ===== EVENTS =====
.events {
	&__slider {
		.section--white-btn {
			margin-top: 1em;
			&-inside {
				width: 100%;
			}
		}
		&-container {
			&-box {
				&:last-child {
					display: none;
				}
				&--img {
					width: 100%;
					border-bottom-right-radius: 40px;
				}
				&-text {
					margin: 0.5em 0;
					&--heading {
						color: $headingAndBtnText;
						font-weight: bold;
						margin-bottom: 0.5em;
					}
					&--date {
						color: $dateAndSquare;
						font-size: 1.5rem;
						margin-bottom: 0.5em;
					}
					&-description {
						color: $carouselTextSection;
						margin-bottom: 1em;
						width: 90%;
					}
					a {
						padding: 1em;
						&:hover a,
						&:hover i,
						&:hover .events__slider-container-box-text--btn {
							color: $dateAndSquare;
						}
					}
					&--btn {
						margin: 0.5em;
						font-size: 1.4rem;
						border: none;
						background: none;
						padding: 0.6em 0;
						color: $headingAndBtnText;
						font-weight: 700;
						font-family: 'Montserrat', sans-serif;
						cursor: pointer;
						a {
							color: $headingAndBtnText;
						}
					}
				}
			}
		}
	}
}
// ===== FIND THE TRUTH =====
.find-the-truth {
	position: relative;
	&__infos {
		margin-bottom: 2em;
		&--title {
			display: flex;
			align-items: center;
			margin-bottom: 1em;
			&-img {
				width: 25px;
				margin: 2em 0 0 -1em;
				transform: rotate(329deg) scaleY(-1);
			}
		}
		&-text1 {
			color: $textSectionAndNavLinks;
			margin-bottom: 1em;
		}
	}

	&-container-squares {
		display: flex;
		justify-content: center;
		text-align: center;
		gap: 0.5em;
		&-bigBox {
			&:first-child &--box_imgBox--sign {
				border-radius: 0 0 50px 0; //wiara w Boga + przynależność
			}
			&:last-child &--box_imgBox--sign {
				border-radius: 0 0 0 50px; //kościół + uwielbienie
			}
			&--box {
				margin: 1.5em 0;
				&-title {
					font-size: 1.4rem;
					color: $headingAndBtnText;
					margin-top: 0.5em;
					font-weight: bold;
				}

				&:nth-child(2) &_imgBox--sign {
					border-radius: 0 50px 0 0; //przynależność i uwielbienie
				}
				&_imgBox {
					transition: transform 0.3s;
					&--sign {
						min-width: 100%;
						height: 60px;
						padding: 1em 2em;
						background-color: $bgcAndText;
						object-fit: contain;
						box-shadow: 8px 7px 30px 2px #00000017;
					}
					&:hover {
						transform: scale(1.15);
					}
				}
			}
		}
	}
}

.important-puzzle {
	background-image: $sectionGradientToRight;
	&__container {
		display: flex;
		align-items: center;
		flex-direction: column;
		position: relative;
		&--img {
			width: 100%;
			max-width: 300px;
		}
		&-text {
			margin-bottom: 2em;
			&--heading {
				display: flex;
				align-items: center;
				&-img {
					transform: rotate(74deg) scaleX(-1);
					margin: 0 0 1em 0.5em;
					width: 25px;
				}
			}
			&--info {
				margin-top: 1em;
			}
		}
	}
}

.footer {
	position: relative;
	background-color: $headingAndBtnText;
	text-align: center;
	color: $bgcAndText;
	&__container {
		&--logo {
			width: 200px;
		}
		&--info {
			font-weight: bold;
			margin: 1em 0;
		}
		&--media {
			.fa-brands {
				padding: 0.5em;
				font-size: 2rem;
				color: $bgcAndText;
				&:hover {
					color: $textSectionAndNavLinks;
				}
			}
		}
		&--info-support {
			margin: 1em 0;
			&-datap,
			&-text--info {
				font-weight: bold;
				text-transform: uppercase;
			}
			&-text {
				padding: 0.5em;
			}
		}
		&--links {
			display: flex;
			flex-direction: column;
			line-height: 30px;
			&-link {
				position: relative;
				padding-right: 1em;

				color: $bgcAndText;
				&:hover {
					color: $textSectionAndNavLinks;
				}
			}
		}
	}
	&--background-gradient {
		width: 60%;
		height: 10%;
		max-width: 15%;
		transform: rotate(59deg);
		border-radius: 778px;
		background-color: rgb(255, 255, 255);
		filter: blur(75px);
		position: absolute;
		right: 20%;
		top: 50%;
	}
}
