@font-face {
	font-family: 'Montserrat';
	src: url('./../../src/fonts/montserrat-v26-latin-ext-300.woff2') format('woff2');
	font-weight: 300;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./../../src/fonts/montserrat-v26-latin-ext-regular.woff2') format('woff2');
	font-weight: 400;
}
@font-face {
	font-family: 'Montserrat';
	src: url('./../../src/fonts/montserrat-v26-latin-ext-700.woff2') format('woff2');
	font-weight: 700;
}
@font-face {
	font-family: 'Yeseva One';
	src: url('./../../src/fonts/yeseva-one-v22-latin-ext-regular.woff2') format('woff2');
	font-weight: normal;
}