@use '../../colors' as *;
@use '../../components' as *;
@use '../../resetstyles' as *;
@use '../../main.scss' as *;

.contact {
	margin-top: 5em;
	position: relative;

	&__container {
		&--title {
			display: flex;
			align-items: center;
			& img {
				width: 25px;
				margin-left: 0.5em;
			}
		}
		&__form {
			margin-top: 2em;
			padding: 2em;
			border-top-left-radius: 50px;
			border-bottom-right-radius: 50px;
			background-color: #d4f7ee;
			&__fields {
				&--box {
					position: relative;
					margin: 1em 0;
					& input,
					textarea {
						font-family: 'Montserrat', sans-serif;
						width: 100%;
						padding: 1em;
						border-radius: 10px;
						font-size: 1.6rem;
						border: 2px solid transparent;
						&:focus {
							outline: none;
							border: 2px solid $dateAndSquare;
						}
					}
					& label {
						position: absolute;
						top: 17px;
						left: 3%;
						padding: 0 0.5em;
						transition: transform 0.3s;
						color: #bad3cd;
						font-size: 1.4rem;
						pointer-events: none;
					}
					& input:focus ~ label,
					& input:valid ~ label,
					.active-email-label {
						transform: translateY(-150%) scale(0.9);
						background-color: #d4f7ee;
					}

					& input:focus ~ label {
						color: $headingAndBtnText;
					}

					& textarea {
						max-width: 100%;
						min-height: 100px;
						& + label {
							top: 15px;
							left: 7px;
						}
						&:focus ~ label {
							transform: translateY(-22px) scale(0.9);
							color: $headingAndBtnText;
							background-color: #d4f7ee;
						}
						&:valid ~ label {
							transform: translateY(-22px) scale(0.9);
							background-color: #d4f7ee;
						}
					}
					.error-info {
						margin: 0.5em 0 0 0.5em;
						color: tomato;
						font-size: 1.4rem;
					}
					& .error-info {
						visibility: hidden;
					}
					&.error .error-info {
						visibility: visible;
					}
					&.error input,
					&.error textarea {
						border-color: tomato;
						background-color: rgba(255, 99, 71, 0.34);
					}
					&.error label {
						color: #000;
					}
				}
			}

			&__agreement {
				&--message {
					display: inline-block;
					margin-top: 1em;
					padding: 1em 2em;
					font-size: 1.6rem;
					border-bottom-right-radius: 20px;
					visibility: hidden;
				}

				&--box {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					&-info {
						display: flex;
						gap: 1em;
						& label {
							cursor: pointer;
						}
					}
					& input {
						align-self: flex-start;
					}
					& input[type='checkbox'] {
						position: relative;
						appearance: none;
						background-color: $headingAndBtnText;
						border-radius: 4px;
						min-width: 20px;
						height: 20px;
						cursor: pointer;
						&::after,
						&::before {
							position: absolute;
							content: '';
							background-color: $bgcAndText;
							display: none;
						}
						&::after {
							margin: 0 auto;
							top: 2px;
							bottom: 2px;
							left: 9px;
							width: 2px;
						}
						&::before {
							margin: auto 0;
							left: 2px;
							right: 2px;
							top: 30%;
							height: 2px;
						}
						&:checked::after,
						&:checked::before {
							display: block;
						}
						&:hover {
							background-color: #588c7faf;
						}
					}
					& > .error-info {
						margin: 0.5em 0 0 0.5em;
						color: tomato;
						font-size: 1.4rem;
						visibility: hidden;
					}
					&.error > .error-info {
						visibility: visible;
					}
					&--link-privacypolicy {
						color: $headingAndBtnText;
					}
					&--link-privacypolicy:hover {
						border-bottom: 1px solid $headingAndBtnText;
					}
				}
				.section--white-btn {
					width: 100%;
					margin-top: 1.5em;
				}
			}
		}
		.form-message-visible--success,
		.form-message-visible--error {
			visibility: visible;
		}
		.form-message-visible--success {
			background-color: $headingAndBtnText;
			color: $bgcAndText;
		}

		.form-message-visible--error {
			background-color: tomato;
		}
	}
	.contact--background-gradient {
		position: absolute;
		top: 20%;
		left: -10%;
		width: 50%;
		height: 50%;
		transform: rotate(43.387deg);
		border-radius: 778px;
		background: rgba(88, 209, 179, 0.2);
		filter: blur(75px);
		z-index: -10;
	}
	.section--white-btn {
		width: 100%;
		font-family: 'Montserrat', sans-serif;
		border: none;
	}
}

@media (min-width: 576px) {
	.contact {
		&__container {
			&__form {
				&__fields {
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 2em;
					&--box {
						width: 100%;
					}
				}
			}
			.form-message-visible--success,
			.form-message-visible--error {
				font-size: 1.8rem;
			}
		}
	}
}

@media (min-width: 768px) {
	.contact {
		margin: 5em auto;
		&__container {
			&__form {
				padding: 2em 4em;
				&__fields {
					&--box {
						& textarea {
							min-height: 200px;
						}
						label {
							font-size: 1.6rem;
						}
						& input:focus ~ label {
							transform: translateY(-140%) scale(0.9);
						}
					}
				}
				&__agreement {
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 2em;
					margin-top: 1em;
					&--box {
						width: 70%;
						& input {
							align-self: auto;
						}
					}
					.section--white-btn {
						width: auto;
						margin-top: 0;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.contact {
		&__container__form {
			padding: 2em 6em;
		}
	}
}
