@use '../../colors' as *;
@use '../../components' as *;
@use '../../resetstyles' as *;
@use '../../main.scss' as *;

.data-bank {
	margin-top: 5em;
	&__container {
		width: 100%;
		&--info-section {
			display: flex;
			align-items: center;
			margin-bottom: 1em;
			& img {
				width: 25px;
			}
		}
		&--img {
			display: none;
		}
		&--text {
			margin-bottom: 1em;
			&--para {
				margin: 1.5em 0;
				&-bold {
					font-weight: bold;
				}
			}
		}
		&--info {
			margin-bottom: 2em;
			line-height: 26px;
			&-title {
				font-weight: bold;
				& span {
					color: $headingAndBtnText;
					text-transform: uppercase;
				}
			}
		}
	}
}
.your-support-help-us {
	text-align: center;
	&--title {
		color: $headingAndBtnText;
		margin-bottom: 1.5em;
	}

	.find-the-truth-container-squares {
		&-bigBox {
			&--box_imgBox--sign {
				border-radius: 0 !important;
			}
			&--box-title {
				width: 150px;
			}
		}
	}
}

@media (min-width: 768px) {
	.your-support-help-us {
		.find-the-truth-container-squares {
			&-bigBox {
				&--box-title {
					width: auto;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.data-bank {
		margin-bottom: 2em;
		.section__navigation {
			margin-bottom: 1em;
		}
		&__container {
			display: flex;
			align-items: center;
			gap: 20px;
			&--text {
				width: 80%;
			}
			&--img {
				display: block;
				border-bottom-left-radius: 100px;
				height: 500px;
				object-fit: cover;
				min-width: 300px;
				width: 100%;
				max-width: 500px;
			}
		}
	}
	.your-support-help-us {
		&--title {
			font-size: 2.2rem;
		}
		.find-the-truth-container-squares {
			gap: 3em;
		}
	}
}

@media (min-width: 1200px) {
	.your-support-help-us {
		margin-bottom: 3em;
		.find-the-truth-container-squares {
			&-bigBox {
				display: flex;
				gap: 3em;
				&--box_imgBox--sign {
					width: 250px;
					height: 160px;
					padding: 2em 4em;
				}
			}
		}
	}
}
@media (min-width: 1300px) {
	.your-support-help-us {
		.find-the-truth-container-squares {
			&-bigBox {
				&--box_imgBox--sign {
					width: 280px;
					height: 180px;
					padding: 2.5em 4em;
				}
			}
		}
	}
}
